<h1><%= @user.name.capitalize %>'s profile</h1>
<p>Email: <%= @user.email %></p>

<h2> Created Events: </h2>
<% @user.created_events.each do |event| %>
    <%= link_to event.description, event_path(event) %><br />
  <% end %>


  <% @user.attended_events.where("date > ?", Date.today).each do |event| %>
  <%= link_to event.description, event_path(event) %>
<% end %>